<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
          #parse( $template )
    </div>
  </body>
</html>
